<h1>Welcome to the bookmark manager</h1>

<h3>Current links:</h3>
<article id="links">
<ul>
	<% @links.each do |link| %>
	<li><a href="<%= link.url %>"><%= link.title %></a></li>
	<% end %>
</ul> 
</article>

<div id="new-link">
  <form action="/links" method="POST">
    <input type="text" name="url" placeholder="URL">
    <input type="text" name="title" placeholder="Title">
    <input type="text" name="tags" placeholder="Tags">
    <input type="submit" value="Add link">
  </form>
</div>