<!DOCTYPE html>
<html>
<!-- 	<link rel="stylesheet" href="/css/style.css" /> -->
	<head>
		<title>Bookmark Manager</title>
		<link rel="stylesheet" href="/css/style.css" />
	</head>
	<body>
		<% if current_user %>
			Welcome, <%= current_user.email %>
		<% end %>
		<% if flash[:notice] %>
		<div id="notice"><%= flash[:notice] %></div>
		<% end %>
		<%= yield %>
	</body>
</html>
