<h3>Please enter the email used for login</h3>

<form method="POST" action="/sessions/forgotten_password">
	<input type="email" name='email' placeholder='Email'>
	<input type="submit" value="Submit">
</form>

<!-- I need to find a way to send this password
very important -->