Please sign in.

<form method="POST" action="/sessions">
	<input type="email" name='email' placeholder='Email'>
	<input type="password" name='password' placeholder='Pa55w0rd'>
	<input type="submit" value="Sign In">
</form>