<h3>Create a new password</h3>

<form id="new password" method="post" action="/users">
	<input type="hidden" name="_method" value="put">
	<input type="hidden" name="email" value="<%= @user.email %>">
	<input type="password" name='password' placeholder='Pa55w0rd'>
	<input name="password_confirmation" type="password" placeholder="C0nf1rm Pa55w0rd?">
	<input type="submit" value="Sign In">
</form>