<h1>Please sign up</h1>

<form action="/users" method="POST">
	Email: <input name="email" type="email">
	Password: <input name="password" type="password">
	<input type="submit" value="Sign Up">
</form>
