<h1>Please sign up</h1>

<form action="/users" method="POST">
	<input name="email" type="email" value="<%= @user.email %>" placeholder="Email?">
	<input name="password" type="password" placeholder="Pa55w0rd?">
	<input name="password_confirmation" type="password" placeholder="C0nf1rm Pa55w0rd?">
	<input type="submit" value="Sign Up">
</form>
